---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Know More About Me Here."
	pubDate={new Date('August 08 2024')}
	heroImage="/about.png"
>
	<p>
		I'm Eshayat Al-Wasiu, a {new Date().getFullYear() - 2010} year old frontend web developer and a designer. With 
		years of experience crafting digital experiences, I specialize in transforming 
		ideas into engaging and functional websites. My skill set encompasses frontend 
		development, web design, and graphics design, allowing me to deliver 
		comprehensive solutions tailored to my clients' needs. I'm providing service worldwide.
	</p>

</Layout>
